.card.exercise
  .card-heading
    = exercise.workout
  .card-body
    .row
      .col-md-3
        Date:
      .col-md-9
        = exercise.workout_date
    .row
      .col-md-3
        Duration:
      .col-md-9
        = exercise.duration_in_min
    .row
      .col-md-9.offset-md-3
        = link_to "Edit", edit_user_exercise_path(current_user, exercise)
    .row
      .col-md-9.offset-md-3
        = link_to "Destroy",  [current_user, exercise], method: :delete
