.col-md-12
  .text-center
    %h2
      New exercise for
      =current_user.full_name
    = simple_form_for([current_user, @exercise],  wrapper: :horizontal_form) do |f|
      = f.error_notification
      = f.input :duration_in_min
      = f.input :workout, label: "Workout details"
      = f.input :workout_date, label: "Activity date"
      = f.button :submit, "Create Exercise", class: "btn-primary"
    = link_to "Back", user_exercises_path(current_user)
